:root{
    --font-App: 15px;
    --font-Family-App: 'Consolas', 'Courier New', monospace;
    --line-Height: 22px;
    --terminal-width: 600px;

    --color-theme: #c72c21;
    --color-theme-1: #981396;
    --color-theme-hover: #eb2e21c4;

    --color-gray: #242526;
    --color-gray-text: rgb(119, 119, 119);
    --color-tabbar-editor: #1b1b1b;
    --color-gray-hover: rgb(189, 189, 189);
    --color-gray-title: #1b1b1b;
    --color-gray-element-title: rgb(63, 63, 63);
    --color-gray-bottom:#161616; 
    --color-text-main: rgb(153, 153, 153);
    --color-text-title: white;
    --color-gray-toolbar: #1b1b1b;
    --color-editor: #242526;
    --color-hover-tab: #2e2e2e;
   


    /* --color-gray: #ebebeb;
    --color-gray-text: rgb(26, 26, 26);
    --color-tabbar-editor: #e7e7e7;
    --color-gray-hover: rgb(114, 114, 114);
    --color-gray-title: #ffffff;
    --color-gray-element-title: rgb(26, 26, 26);
    --color-gray-bottom:#bdbdbd;
    --color-text-main: rgb(22, 22, 22);
    --color-text-title: rgb(22, 22, 22);
    --color-gray-toolbar: #e7e7e7;
    --color-editor: white;
    --color-hover-tab: #d1d1d1; */

   
    /* --color-scrollbar:rgba(71, 71, 71, 0.247);
    --color-scrollbar-hover: rgba(92, 92, 92, 0.616) ; */
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    opacity: 0;
    border-radius: 100px;

}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-hover) !important; 
}
*:focus {
    outline: none;
}
body {
    padding: 0;
    margin: 0;
    overflow:hidden;
    background:var(--color-editor);
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
body *{
    box-sizing: border-box;
}
.container{
    height: 100vh;
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-rows: 35px 3px auto 32px;
}

.draggable {
    -webkit-app-region: drag;
}
.prevent-select{
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.text-main{
    color: var(--color-text-main);
    font-size: 13px;
    font-weight: 600;
    margin: auto;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.font-arial{
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: normal;
}